:root {
    --bg: #0b0b0b;
    --pink: #ff2f92;
    --purple: #b100ff;
    --text: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

/* Кнопки */
.btn {
    padding: 12px 28px;
    border-radius: 30px;
    color: #fff;
    background: var(--pink);
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.btn-outline {
    background: transparent;
    border: 2px solid var(--purple);
}

/* Контейнер корзины */
#cartItems {
    margin: 20px 0;
}

.cart-btn {
    position: fixed;
    top: 20px;
    right: 150px;
    /* рядом с auth-btn */
    z-index: 50;
}